* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  background-color:  #04072a;
  color: #222;
}

/* Main App */

.app {
  width: 100%;
  min-height: 100vh;
  background-color: #dff4ff;
}

/* Sections */

section {
  width: 100%;
  min-height: 80vh;
  padding: 80px 20px;
  background-color: #dff4ff;
}

.section-content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
  color: #222;
}

.section-content h2 {
  color: #5063c9;
  font-size: 35px;
  margin-bottom: 20px;
}

/* Footer */

footer {
  width: 100%;
  padding: 25px;
  text-align: center;
  background-color: #5063c9;
  color: white;
}